<!-- Sagar ki Bandi -->
<div class="body">
    <div class="screen">
        <div class="title">
            <div class="title-name"><div style="margin: auto;">Khushi</div></div>
            <div class="title-role"><div style="margin: auto;">Full Stack <br> Developer</div></div>
        </div>
        <div class="dp">
            <img src="assets/khushi.jpeg" alt="Khushi" class="dp">
        </div>
        <div class="info">
            <p>khushimittal1502<br>@gmail.com</p>
            <i class="bx bxs-map" style="margin-right: 3px;"></i>Bangalore, Karnataka
        </div>
        <div class="social">
            <a class="bx bxl-linkedin social-icon" href="https://www.linkedin.com/in/khushi-mittal-595975198/"></a>
            <a class="bx bxl-instagram social-icon" href=""></a>
            <a class="bx bxl-github social-icon" href="https://www.github.com/khushimittal15/"></a>
        </div>
        <a class="hire" (click)="scrollToContact()">
            <i class="bx bx-envelope hire-icon"></i>
            <a class="hire-text">&nbsp; Contact Me! </a>
        </a>

    </div>
</div>